<!-- <div class="alert alert-success" role="alert" *ngIf="isAdicionado"> -->
<!-- <div class="alert alert-success" role="alert" [hidden]="!isAdicionado"> -->
<div class="alert alert-success" role="alert" [hidden]="inputNome.valid">
    Pessoa adicionada: <strong>{{inputNome.value}}</strong>
</div>

<div class="mb-3">
    <label class="form-label">Nome</label>
    <!-- <input type="text" class="form-control" (input)="inputNome.value = getCorrectInputEventValue($event)" #inputNome> -->
    <!-- <input type="text" class="form-control" (focus)="isAdicionado = false" [(ngModel)]="inputNomeValue"> -->
    <!-- <input type="text" class="form-control" (focus)="isAdicionado = false" [(ngModel)]="nome" appCampoColorido> -->
    <!-- <input type="text" class="form-control" appCampoColoridoHostbinding [cor1]="'gray'" [cor2]="'green'" [cor3]="'black'">
    <input type="text" class="form-control" appCampoColoridoHostbindingRandom>
    <input type="text" class="form-control" [appCampoColoridoInputname]="'magenta'">
    <input type="text" class="form-control" appCampoColoridoButtons #campo="campoColorido"> -->
    <input type="text" class="form-control" name="nome" ngModel #inputNome="ngModel">
</div>

<!-- <button type="button" class="btn btn-primary" (click)="adicionar(inputNome.value)" [disabled]="!inputNome.value">Adicionar</button> -->
<!-- <button type="button" class="btn btn-primary" (click)="adicionar()" [disabled]="!inputNomeValue">Adicionar</button> -->
<!-- <button type="button" class="btn btn-primary" (click)="adicionar(nome)" [disabled]="!nome">Adicionar</button> -->
<button type="button" class="btn btn-primary" (click)="adicionar(inputNome.value)">Adicionar</button>

<!-- <button class="btn btn-info" (click)="campo.colorir()">Colorir</button>
<button class="btn btn-info" (click)="campo.descolorir()">Descolorir</button> -->